<div class="post" data-price="{{price}}" data-city="{{city}}" data-condition="{{condition}}">
	<div class="post contents">
		<div class="post-image-container">
			<img src="{{photoURL}}">
		</div>
		<div class="post-info-container">
			<a class ="post-title" href="#">
				{{description}}
			</a>
			<span class="post-price">
				{{price}}
			<span>
			<span class = "post-city">
				{{city}}
			</span>
		</div>
	</div>
</div>