<div class="card" id="{{id}}" price={{price}} album-name="{{album-name}}" artist-name="{{artist-name}}">

	<div class="card-info" style="background-color:{{background}};">
		<a href="{{url}}">
			<div class="card-art">
				<img src="{{cover-art}}" class="card-art"/>
			</div>
			<p class="card-info"><b>{{artist-name}}</b></p>
			<p class="card-info">{{album-name}}</p>
		</div>
		</a>
		<div class="card-bottom">
			<div class="price">
				<p>${{price}}.00</p>
			</div>
		</div>
</div>